.block-left {
  background: linear-gradient(151.25deg, #5dd6ff -7.2%, #188cb3 109.82%);
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
.block-left-image {
  display: block;
  width: 62%;
}
.block-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.block-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 56px;
  height: 453px;
}

.block-right-heading__main {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--heading-color);
}
.block-right-heading__sub {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--subheading-color);
}
.block-right-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 100%;
}

.block-right-form-email {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.block-right-form-action__remove {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 999px;
  right: 0;
  top: 0;
  padding: 0;
  transform: translate(-50%, 100%);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
.block-right-form-action__remove {
  background-image: url("../images/remove.svg");
}
.block-right-form-access {
  width: 100%;
  text-align: right;
}

.block-right-form-signup-body {
  font-weight: 500;
  font-size: 14px;
}
.block-right-form-submit {
  margin-top: 12px;
  width: 100%;
}

.block-right-form-signup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 798px) {
  .block-left {
    display: none;
  }
}

.error > label {
  color: var(--red);
}
.error > label::after {
  content: "not existed";
}
.error > input {
  border: 2px solid var(--red);
}
